body{
    background-color : #112129;
}

@font-face {
font-family: 'mangabey';
src: url('mangabey-font/MangabeyRegular-rgqVO.otf');
font-style: normal;
font-weight: normal;
}

img{
    width: 100%;
    height: auto;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;

}

.container{
    position:relative;
    width:65%;
    height:auto;
    margin:auto;
    box-shadow: 0 0 1.6em 0.1em  rgba(0, 0, 0);
    border-radius:0.9vw 0.9vw 0.7vw 0.7vw ;
}
#a{
    border-radius:0.9vw 0.9vw 0 0;
}

.writeup{
    position:absolute;
    top: 10vw;
    margin-left:8%;
    font-family: 'mangabey';
}

.newslttr{
    font-size:5vw;
    text-transform: capitalize;
}

 .caption{
    font-size: 2.5vw;
    position:absolute;
    margin-top:9%;
    margin-left:12%; 
} 

.border-apply{
    background-image:url(Wooden\ table-Top-moody.png);
    padding-top:1.3vh;
    padding-left:0.7vh;
    padding-right:0.7vh;
    border-radius:0 0 0.6vw 0.6vw;
    border-top:0.3vh solid #000;
}

.box-0{
    background-color:rgb(202, 182, 182);
    border:0.25vw solid #0F1A20;
    padding:3vw;
    margin-left:0.5%;
    margin-right:0.5%;
    font-weight:500;
    font-size:1.1vw;
    font-family:helvetica ,sans-serif;
}

.layout{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.box-container{
    display:flex;
    padding-top: 1vw;
    padding-left:0.6vw;
    padding-right:0.6vw;
    padding-bottom:0.8vw;
    height:auto;
    gap:0.8vw;
}

.box-container > *{
    padding: 1vw;
    border:0.2vw solid #0F1A20;
    background-color:rgb(202, 182, 182);
    font-size:1.1vw;
    font-family:helvetica ,sans-serif;
}

